
.container {
  display: flex;
  /* border: 1px solid red; */
  /* height: auto; */
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 5rem;
  
}

/* Left container styles */
.left-container {
 /* border: 1px solid blue; */
 width: 50%;
}

.left-container h3 {
  max-width: 30rem;
}

.left__span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Right container styles */
.right-container {
  /* border: 1px solid green; */
  width: 30%;
}

/* Form styles */
.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
  /* border: 1px solid yellow; */
}

/* Form group styles */
.form__group {
  margin-bottom: 1rem;
}

/* Form label styles */
.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

/* Form input styles */
.form__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}
form .forgot__pass {
  text-align: right;
  padding-bottom: 1rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
}
/* Form submit button styles */
.form__submit {
  background-color: #0cc14c;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.2s ease-in-out; */
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem;
}

/* .form__submit:hover {
  background-color: #011308;
}
 */
