.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}

form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 33.33%;
}

.form__group {
  margin-bottom: 1rem;
}

.form__label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
form h1 {
  /* color: #0cc14c; */
}

form span {
  color: red;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price p {
  color: #666666;
}

.send-package__btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}

.send-package__btn button {
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  /* transition: background-color 0.2s ease-in-out; */
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 1rem;
}

.progress__btn{
  background-color: #0cc14c;
}

.cancel__btn {
  background-color: #011308;
}

.destination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-destination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #0cc14c;
  border-radius: 1rem;
  width: 4rem;
}


.delivery-status {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.delivery-status p {
  color: #666666;
}